*{
    margin: 0;
}
main{
    background-color: grey;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 15%);
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.cuadro{
    background-color: whitesmoke;
    border-radius: 5px;
    height: 50%;
}

.cuadro h2{
    font-size: 700%;
    color: red;
}

.cuadro h1, .cuadro h2{
    justify-content: center;
    text-align: center;
}